@page "/EditarTarea"
@model gestion_de_tareas.Pages.EditarTareaModel
@{
    ViewData["Title"] = "Editar Tarea";
}

<h2>Editar Tarea</h2>

<form method="post">
    <input asp-for="TareaEditada.Titulo" placeholder="Nuevo título" />
    <button type="submit">Guardar</button>
</form>

